@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    font-family: 'Space Mono', monospace;
}

body {
    background-color: lightgray;
}

header, footer{
    background-color: black;
    color: white;
    border: 0.2em solid rgb(0, 179, 255);
    display: flex;
    height: 10vh;
}

.top{
    margin-left: 15px;
    margin-top: 14px;
}
.navBar{
    margin-top: 25px;
    margin-left: 28%;
    font-size: 20px; 
}
.rightDivs{
    width: 15vh;
    height: 15vh;
    background-color: black;
    border: 0.2em solid rgb(0, 179, 255);
    border-top: 0;
}
.leftDivs{
    width: 15vh;
    height: 15vh;
    background-color: black;
    border: 0.2em solid rgb(0, 179, 255);
    border-top: 0;
}
.middleBoxes{
    display: flex;
}
.middle{
    flex: 1;
    max-height: 76vh;
    overflow: auto;
}
.leftColumn, .rightColumn{
    flex: 0;
}
.last{
    border-bottom: 0;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.topFooterSpan{
    font-size: 10px;
    white-space: nowrap;
    text-align: center;
}
.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* .leftSpace{
    margin-left: 30px;
}
.rightSoace{
    margin-right: 20px;
} */

.space{
    margin: 20px;
}
.neon{
    box-shadow:
        0 0 1px rgb(0, 179, 255),
        0 0 2px rgb(0, 179, 255),
        0 0 6px rgb(0, 179, 255),
        0 0 1px rgb(0, 179, 255) inset,
        0 0 2px rgb(0, 179, 255) inset,
        0 0 6px rgb(0, 179, 255) inset;
    /* z-index: 1; */
}
.boxSize{
    width: 150px;
}
.inputLeft{
    margin-left: 55px;
}
.textareaSize{
    width: 250px;
    height: 250px;
}
a:link {
    color: rgb(247, 248, 249);
    text-decoration: none;
    
}


a:visited {
    color: rgb(241, 242, 247);
}


a:hover {
    color: rgb(0, 179, 255);
    text-shadow: 
    0 0 1px rgb(0, 179, 255),
    0 0 2px rgb(0, 179, 255),
    0 0 6px rgb(0, 179, 255);

}
.middle img{
    display: block;
    max-width:90%;
    width: auto;
    height: auto;
}

.logo {
    display: inline;
    max-width:20px;
    /* max-height:95px; */
    width: auto;
    height: auto;
}

