*{
    /* padding: 10px 10px 10px 10px; */

    background-color: rgba(194, 8, 144, 0.15);
}
b{
    
    color: rgb(118, 5, 69);
}
body {
    background-color: rgba(194, 8, 144, 0.15);
    color: rgb(8, 117, 212);
    font-family: 'Gill Sans', sans-serif;
}
h1, h2, h3 {
    font-family:cursive;
}
body, main, figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure{
    row-gap: 10px;
}