table, th, td {
    border:2px solid rgb(25, 189, 222);

}
main{
    display: flex;
    align-items: center;
    flex-direction:column ;
}

table:first-child {
    background-color: rgb(165, 42, 108);
}
