<footer class="down neon">
    <div>
        <a class="nounderline" id="validation_link_html">
            <img style="border:0;width:88px;height:31px"
                src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
        </a>
        <a class="nounderline" id="validation_link_css">
            <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss"
                alt="Valid CSS!">
        </a>
        <script>
            document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
            document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        </script>
    </div>
    <span class="topFooterSpan">Copyright ©2023 Hobbes Studios&nbsp;<img class="logo" alt="hobboslogo" src="/images/logo.svg"></span>
    <span class="topFooterSpan">Built by <a href="https://webpages.charlotte.edu/aalahme1/itis3135/anisahnisah.com/">Anisahnisah</a>&nbsp;<img class="logo" src="/images/logo.png" alt="logo"></span>
</footer>