<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/aalahme1/">CLT webpages</a>
        ||
        <a href="https://github.com/anisahalahmed">GitHub</a>
        ||
        <a href="https://anisahalahmed.github.io/">GitHub.io</a>
        ||
        <a href="https://anisahalahmed.github.io/itis3135">ITIS3135.io</a>
        ||
        <a href="https://www.freecodecamp.org/anisahalahmed">FreeCodeCamp</a>
        ||
        <a href="https://www.codecademy.com/profiles/anisahalahmed">Codecademy</a>
        ||
        <a href="https://www.linkedin.com/in/anisah-alahmed">LinkedIn</a>
    </nav>
    <p class="endpage">Page Built by <a href="./anisahnisah.com/">Anisahnisah</a>© 2023</p>
    <a href="https://validator.w3.org/check?uri=referer">
        <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
       </a>
       <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
         </a>
       
</footer>